$colors:(
    primary: #ffff,
    accent: rgb(201, 197, 197),
);

@function color($color-name){
    @return map-get($colors,$color-name)
 }

$margin-top:2em;

// html{
//     background: url(../images/back.jpg) no-repeat center center fixed;
//     -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

*{border:1px solid white;}
body{
    margin:0px;
    padding:0px;
}

// FLEX BODXY // 
.container {
    display:flex;
    flex-flow:row wrap;
    color:white;
    
   

           
    }
     .bg-main{ background: url("") no-repeat  ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;    
        background-size: cover; 
        width:100vw;
        height:100vh;
        
        
          
     }
     .container { background: url("/images/bg.jpg") no-repeat center center; 
        -webkit-background-size: cover;
       -moz-background-size: cover;
      -o-background-size: cover;    
        background-size: cover; 
        width:100vw;
        height:100vh;
        
 
     }